{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Aplicacion para empleados</h1>
        <p>Consulte la informacion detallada de pagos, referencia laboral, creditos, procesos disciplinarios actualizados 
            y los datos del proceso de nomina que requiera.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Ver mas &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
{% endblock %}

